<%- include("partials/header") %>

<h2>Add a New Book</h2>
<form action="/books" method="POST">
  <input name="title" placeholder="Title" required><br>
  <input name="author" placeholder="Author" required><br>
  <textarea name="description" placeholder="Description"></textarea><br>
  <button type="submit">Add Book</button>
</form>

<%- include("partials/footer") %>
